body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  color: white;
  font-size: 12px;
}

h1 {
  text-align: center;
  color: black;
  font-size: 10px;
}

h2 {
  text-align: center;
  color: white;
  font-size: 48px;
}

h3{
  text-align: center;
  color: white;
  font-size: 10px;
  border-style:groove;
  border-width: 1px;
  border: 2px solid white;
}



